.formulario-contacto {
	display: flex;
	padding: 20px 0;
	width: 100%;
	justify-self: center;
	justify-content: center;
}

.formulario-contacto form {
	display: flex;
	flex-direction: column;
}

.bloque-form {
	display: flex;
	margin-bottom: 8px;
}

.opcion-radio {
	opacity: .75;
}

.nombre-input, .apellido-input {
	margin-right: 8px;
	opacity: .75;
}

.bloque-form textarea {
	width: 100%;
	min-height: 160px;
	opacity: .75;
}

.botones-form {
	display: flex;
	justify-content: space-between;
}